

body {
    font-family: 'Montserrat', sans-serif;
    background: #fcfcfc;
    box-sizing: none;
}

section {
    padding-top: 6.38rem; /* 100px sur ordi */
    padding-bottom: 6.38rem;
}

section .cfa .competences {
    height: 836px;
}

hr{
    width: 5rem;
    height: 0.3125rem;
}

section hr{
    background: #92262a;
    margin-top: 1rem;
    margin-bottom: 2rem;
} 


.bande1{
    width: 250px;
    height: 40px;
    background-color:#92262a;
    background-image: linear-gradient(to right, #fcfcfc , #92262a);
    position: relative;
    left: 0;
}

.bande2{
    width: 250px;
    height: 40px;
    background-color:#92262a;
    background-image: linear-gradient(to right, #020202, #92262a);
    position: relative;
    left: 0; 
}


a.down-arrow {
    display: block;
    width: 4.125rem;
    margin-top: 26.5rem;
    margin-left: 50%;
    cursor: pointer;
}


a.down-arrow img {
    width: 90%;
    animation: arrow 1s ease-in-out infinite alternate;
}

@keyframes arrow{
    from{ 
        opacity: 1;
        margin-top: 0;
        
}
    to{
        opacity: 0.2;
        margin-top: 2rem;
}
}

@media (max-width: 992px){
    
.bande1{
    width: 200px;
}

.bande2{
    width: 200px;
}
}


@media screen and (min-width: 380px) and (max-width: 690px){
    
.bande1{
    width: 130px;
}



.bande2{
    width: 130px;
}
}

.font{
    color: #fcfcfc;
}

a i {
    color: #92262a;
}



-------------------------------------
/*------------------------ HEADER---------------*/
li a
{
  color: #020202;
  transition: color 0.3s ease;
}


#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #e5e5e5;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #92262a;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
    position: absolute;
  height: 102vh;
  margin: -100px 0 0 -80px;
  padding: 70.33px;
  padding-top: 156px;
  padding-bottom: 156px;
  background: #fcfcfc;
  opacity: 0.8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
    font-family: 'Montserrat', Light;
  font-size: 20px;
  color: #020202;
}

#menu li:hover{
    color: #92262a;
    cursor: pointer;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

---------------------------------------
















-----------------------------

.navbar-responsive {
    background: #5a2646; /* Old browsers */
    background: -webkit-linear-gradient(bottom left, #5a2646 0%, #430f2d 50%, #621c3f 100%);
    background: -o-linear-gradient(bottom left, #5a2646 0%, #430f2d 50%, #621c3f 100%);
    background: linear-gradient(to top right, #5a2646 0%, #430f2d 50%, #621c3f 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a2646', endColorstr='#621c3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.navbar-responsive ul {
    text-align: center;
}

.navbar-responsive ul li {
    height: 3rem;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 3rem;
    color: #fcfcfc;
}



header {
    width: 100%;
    height: 67.5rem; 
    padding-top: 4px;
    background-image: url('images/header/reverse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h2#titre {
    font-size: 8rem;
    font-weight: 600;
    line-height: 8rem;
    color: #fcfcfc;
    text-transform: uppercase;
    text-align: center;
    margin-top: 17rem;
}


@media (max-width: 1450px){
    

    h2#titre {
        font-size: 6.5rem;
        line-height: 7rem;
        margin-top:16rem;
    }
}

@media (max-width: 992px){
    
h2#titre {
        font-size: 5rem;
        font-weight: 700;
        line-height: 5rem;
        margin-top: 10rem;
    }
}


@media screen and (min-width: 430px) and (max-width: 992px){
    
h2#titre {
        font-size: 2.95rem;
        line-height: 4rem;
        margin-top: 18rem;
    }
}



/*-------------------------A PROPOS------------------------------------------------*/
.apropos{
    background: #020202;
}

.apropos h2{
    position:absolute;
    color: #fcfcfc;
    width: 350px;
    font-size: 2.18rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    left:133px;
}


.apropos p{
    font-size: 1.50rem;
    font-weight: 400;
    line-height: 2rem;
    color: #fcfcfc;
    margin:2rem;
    text-align: justify;
}

.apropos img{
    width: 520px;
    padding-left: 20px;
}


@media (max-width: 992px){
    
.apropos h2{
    left:83px;
}
}

@media screen and (min-width: 380px) and (max-width: 690px){
    
.apropos h2{
    left:13px;
}
}







/*------------------------COMPETENCES-------------------------------------------------*/
.competences{
    background: #fcfcfc;
}

#raw{
    padding: 105px 0px 125px 0px;
}

.competences h2{
    position:absolute;
    width: 350px;
    font-size: 2.18rem;
    font-weight: 900;
    color: #020202;
    text-transform: uppercase;
    text-align: center;
    left:186px;
}

.competences h3{
    font-size: 1.5rem;
    font-weight: 800;
    color:#92262a;
    text-align: center;
    margin-top: 3rem;
}

.competences p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    color: #92262a;
    margin-bottom: 2rem;
    text-align: center;
}

.competences img.multi{
     margin-top: 90px;
}

.competences img { 
    margin-top: 40px;
    margin-left: 40px;
}


@media screen and ( max-width: 992px ) {

.competences h2{
    left:137px;
}

.competences img {
    margin-left: 80px;
}
}

@media screen and (min-width: 380px) and (max-width: 690px){
    
.competences h2{
    left:66px;
}

.competences h3{
    font-size: 1.4rem;
    font-weight: 800;
}

.competences p{
    font-size: 1rem;
   font-weight: 400;
}

.competences img {
    margin-left: 40px;
}
    
#raw{
    padding: 40px 0px 45px 0px;
}
}



/*---------------------------PROJET CFA-------------------------------------------------*/


.cfa{
    background-color: #020202;
}

#hard{
    position:absolute;
    width: 350px;
    font-size: 2.18rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    left:157px;
    color: #fcfcfc;
}

.cfa img {
    width: 100%;
    height: 100%
}

.cfa figure {
    height: 280px;
    margin: 5px;
}

.cfa .picture {
    padding: 0 ;
    margin:  0 ;
}

.cfa .scroll-top {
    color: #235ec6;
}

.cfa .encart {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 9.65;
    opacity: 0.9;
    color: #fcfcfc;
}

.encart_long{
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    margin-top: 51px;
    font-size: 1.5rem;
    line-height: 1.8;
    opacity: 0.9;
    color: #fcfcfc;
}

 card-img-overlay { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
}
/*hover*/


.cfa figure {
    position: relative;
}

.cfa figure figcaption {
    height: 280px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 0em;
    left: 0em;
    bottom: 0em;
    right: 0em;
    background-color: #fcfcfc;
    opacity: 0;
    transition: opacity .6s ease;
}

.cfa figure figcaption:hover {
    opacity: .7;
}

.cfa .impact, .cfa a{
    text-align: center;
}


.cfa .impact {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #020202;
}

.cfa figure figcaption a {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.cfa i {
    margin-top: 20px;
}

.effet-2 figcaption:before, .effet-2 figcaption:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    transition: transform 0.35s ease-in-out;
}

.effet-2 figcaption:before {
    border-top: 2px solid #020202;
    border-bottom: 2px solid #020202;
    transform: scale(0, 1); 
}

.effet-2 figcaption:after {
    border-left: 2px solid #020202;
    border-right: 2px solid #020202;
    transform: scale(1, 0);
}

.effet-2:hover figcaption:before, .effet-2:hover figcaption:after {
    transform: scale(1, 1);
}


/* RESPONSIVE PROJET CFA*/
@media screen and ( max-width: 992px ) {

#hard{
    width: 350px;
    font-size: 2.18rem;
    left:105px;
}

.image { 
    width: 100%;
}

.content { 
    padding-right: 2rem;
}

.cfa figure {
    height: 280px;
    margin: 5px;
}

.cfa img {
    width: 100%;
    height: 100%
}

.cfa .encart {
    font-size: 1.45rem;
    line-height: 10.05;
}

.encart_long{
    margin-top: 55px;
    font-size: 1.45rem;
}

.cfa .impact {
    font-size: 1.45rem;
    line-height: 1.8;
}

.cfa figure figcaption {
    height: 100%;
}
}



@media screen and (min-width: 430px) and (max-width: 690px){
    
#hard{
    width: 350px;
    font-size: 2.18rem;
    left:37px;
}
.cfa img {
    width: 100%;
    height: 385px;
}

.cfa figure {
    height: 100%;
    margin: 10px;
}

.cfa .encart {
    font-size: 1.8rem;
    line-height: 12.45;
}

.encart_long{
  margin-top: 102px;
  font-size: 1.8rem;
}


.cfa .impact {
    font-size: 1.8rem;
    font-weight: 900;
}
}









/*-----------------------PROJET PROFFESSIONEL----------------------------------------*/

.entreprise{
    background-color: #fcfcfc;
}

.entreprise hr {
    margin-bottom: 1rem;
}

.entreprise p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #1c1c1c;
    padding-top: 25px;
}

.entreprise h2 {
    position:absolute;
    width: 650px;
    font-size: 2.18rem;
    font-weight: 900;
    color: #020202;
    text-transform: uppercase;
    text-align: center;
    left:83px;
}


.entreprise h3{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.1875rem;
    color: #020202;
    text-align: center;
}

.entreprise h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.1875rem;
    color: #020202;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.entreprise h5{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.1875rem;
    color: #020202;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.entreprise h6{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #020202;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.entreprise blockquote{
    font-size: 0.80rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #92262a;
    font-style: italic;
    margin-top:  2rem;
}


.vertical{
    border-left: solid 3px #92262a;
    padding-left: 25px;
}

.entreprise figure img  {
    height: 350px;
}

.entreprise figure a:hover{
    opacity: 0.5;
}

.entreprise figure{
    width: 10rem;
    margin-top: 2rem;
}

.tiers{
    font-size: 0.895rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 5.25rem;
    margin-top: 2.5rem;
    color: #020202;
}


img.entreprise{
    margin-top: 1rem;
}

img.pic{
    width: 100%;
    height: auto;
}

.entreprise figcaption p {
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #020202;
    margin-top: 1rem;
}


@media screen and (max-width: 992px) {

.entreprise p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
    
.entreprise .tiers  img {
    display: block;
    margin: auto;
}
    
.entreprise figure img {
    width: 100%;
    height: auto
}
    
.entreprise h2 {
    left: 34px;
}

img.pic{
    width: 450px;
    height: auto;
}
}

@media screen and (min-width: 430px) and (max-width: 690px) {

.entreprise p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}
    
.entreprise .tiers  img {
    display: block;
    margin: auto;
}
    

.entreprise figure img  {
    width: 100%;
    height: auto;
}
    
.entreprise h2 {
    font-size: 1.885rem;
    left: -58px;
    top: 2px;
}

img.pic{
    width: 100%;
    height: auto;
}
}





/*------------------------- Projet personnel------------------------------------------------------------------*/
.personnel{
    background-color: #020202;
}

.personnel hr {
    margin-bottom: 1rem;
}

.personnel h2 {
    position:absolute;
    width: 650px;
    font-size: 2.18rem;
    font-weight: 900;
    color: #fcfcfc;
    text-transform: uppercase;
    text-align: center;
    left:84px;
}

.personnel h3{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.1875rem;
    color: #fcfcfc;
    text-align: center;
}

.personnel h6{
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #fcfcfc;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.personnel i {
    color: #fcfcfc;
}

.personnel a {
    text-decoration: underline;
    color: #fcfcfc;
}

.instagram{
    width: 100%;
    height: 100%;
    border: solid 3px #fcfcfc;
}

.chocolat{
    width: 100%;
    margin: 0px 0px 20px 0px;
    border: solid 3px #fcfcfc;
}

.blackwood{
    width: 100%;
    border: solid 3px #fcfcfc;
}

.personnel img {
    filter: grayscale(100%);
}

.personnel img:hover{
    filter: grayscale(0%);
}


@media screen and (max-width:  992px) {

.personnel h2 {
    left:35px;
}

.personnel h6{
    font-size: 0.85rem;
}
}

@media screen and (min-width: 380px) and (max-width: 690px) {

.personnel h2 {
    font-size: 1.9rem;
    left: -60px;
    top: 2px;
}
}
/*-----------------------------------------------------------------------------------------------*/


/*-----------------------------CONTACT----------------------------------*/

.contact{
    background-color: #fcfcfc;
}

.contact h2 {
    position:absolute;
    width: 650px;
    font-size: 2.18rem;
    font-weight: 900;
    color: #020202;
    text-transform: uppercase;
    text-align: center;
    left:-16px;
}


.contact label {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #1c1c1c;
}

.contact .fail{
    font-size: 0.685rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #020202;
}

button{
    padding: 6px 12px 6px 12px;
    border: 1px solid #92262a;
    background: #fcfcfc;
    color: #92262a;
    font-weight: 500;
    border-radius: .3rem;
}

.contact button:hover{
    background-color: #92262a;
    color: #fcfcfc;
    cursor: pointer;
}

@media screen and (max-width: 992px) {

.contact h2 {
    left:-67px;
}
}

@media screen and (min-width: 380px) and (max-width: 690px) {

.contact h2 {
    left:-137px;
}
}








/*-------------------------- Autre------------------------------------------------------*/

.autre{
    background-color: #020202;
}

.autre h3{
    font-size: 1rem;
    font-weight: 600;
    line-height: 3rem;
    color: #fcfcfc;
}

.autre hr{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10rem;
    height: 3px;
    background: #92262a;
}

.autre a + a{
    width: 0.3125rem;
}


.autre a {
    text-decoration: none;
    color: inherit;
    color: #fcfcfc;
} 

.autre img{
    margin-top: 1rem;
    filter: invert(1);
}

.autre p {
    margin-top: 1.75rem;
    font-size: 0.985rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #fcfcfc;
}

@media screen and (max-width: 992px) {

    .autre h3 { 
        text-align: center;
    }
}



/*-----------------------MODAL-----------------------------------*/


.modal-body{
    background: #020202;
    width: 100%;
    padding-bottom: 50px;
}

.modal img{
    width: 35%;
}

.modal-content{
    width: 1000px;
    right: 50%;
}

.modal-body p {
    color: #020202;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
}


.modal-body a {
    text-decoration: none;
    color: #92262a;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.modal-body h5 {
    color: #fcfcfc;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


@media screen and (max-width: 992px) {
    
.modal-body h5 {
    font-size: 1.25rem;
    margin-top: 20px;
}

.modal-body a {
    font-size: 1.25rem;
}

.modal img{
    width: 35%;
}
}

@media screen and (min-width: 380px) and (max-width: 690px) {

    
.modal-body h5 {
    font-size: 0.985rem;
}

.modal-body a {
    font-size: 0.985rem;
}

.modal-content{
    width: 465px;
    right: -2px;
}

.modal img{
    width: 55%;
}
}